:root {
  /* color palette */
  --orange-darker: #eb8b1d;
  --orange-dark: #FF971D;
  --orange-light: #ffba6c;
  --orange-dim: #FFE8D6;
  --gray-light: #F9F6F7;
  --white-light: #FFFFFF;
}

// $input-border-color:var(--orange-dark);
$input-focus-border-color:var(--orange-light);
$input-focus-box-shadow:0 0 4px var(--orange-light);

@import "bootstrap/scss/bootstrap";
